@model Models.Media

@{
    Layout = null;
    User user = ViewBag.User;
    User connected = (User)Session["ConnectedUser"];


}

<dl>
    <dd>
        @Model.Title
        @if (connected != null && Model.OwnerID == connected.Id)
        {
           <span >[Partage]</span>
        }
    </dd>

    <dd>
        @Helper.YoutubePlayer(Model.YoutubeId)
    </dd>
    <dd class="description">
        @Model.Description
    </dd>
    <dt>
        Catégorie
    </dt>

    <dd>
        @Model.Category
    </dd>

    <dt>
        Date de publication
    </dt>

    <dd>
        @Helper.When(Model.PublishDate)
    </dd>

    <dt>
        Ajouté par 
    </dt>

    <div class="userItem">
        <img src="@user.Avatar" class="UserMediumAvatar" />
    
       <div class="ellipsis"> @user.Name</div>
    </div>

</dl>